<%= simple_form_for [@product, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_area :content, :rows => 6 %><br />
    <%= f.text_field :user_id %> <br />
    <%= f.text_field :product_id %>
    
    <%#= f.input :content, :rows => 6%>
    <%#= f.input :user_id %>
    <%#= f.input :product_id %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
    <%#= f.submit %>
  </div>
<% end %>
