<span>Leave a comment for <b> <%= @product.name %></b> :</span>
<div id="comment_form">
  <%= render :partial =>'form' %>
</div>
<div>
<span><%= link_to 'Back to products', products_path %> </span>
</div>
<span id="comments_count"><%= pluralize(@comments.count, "Comment") %></span>
<div id="comment-notice">
</div>
<div id="comments">  
  <%= render :partial => @comments %>  
</div>
<!-- , :locals => { :list => true } render :partial =>'sth',:object => @sth co the thay bang render :partial =>@sths voi dk co file _sth.html.erb -->