<p id="notice"><%= notice %></p>
<table class = "show-item">
  <tr>
    <td>
  <b>Name:</b>
  <%= @product.name %>
    </td>
    <td>
      <b>Category:</b>
  <% unless(@product.category.nil?)%> <%= @product.category.name %>
      <% else %> N/A <%end %>
    </td>
  </tr>
  
  <tr>
    <td>
      <b>Price:</b>
      <%= @product.price %>
    </td>
   <td>
    <b>Released on:</b>
    <%= @product.released_on %>    
    </td>
  </tr>  
  <tr>
  <td>
    <b>Rating:</b>
    <%= @product.rating %>  
  </td>
  <td>
    <b>Discontinued:</b>
    <%= @product.discontinued %>  
  </td>
  </tr>
  <tr>
  <td>
    <b>Photo:</b>
    <%= image_tag @product.photo.url(:normal) %>
  </td>
  </tr>
  <tr>
    <td>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'view all', products_path %> |
    <%= link_to 'all comments', product_comments_path(@product) %>
    </td>
  </tr>
</table>

