<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag 'application', 'header', 'comment', 'messages', 'screen' %>
  <%#= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui.min', 'application', 'jquery_ujs', 'easySlider' %>  
  <%= csrf_meta_tag %>
</head>
<body>
  <table class="home-no-log-in"
        border="0"
        cellpadding="0"
        cellspacing="0"
        vspace="0"
        width="100%"
        style="margin-top:-15px"> 
  <tr id="main_content">
    <td class="home_bg_left">
      <div id="left_module">
      </div>
    </td>
    <td class="home_main">
      <div id="header">
        <div class="header-top">
          <div id="user_nav">
            <% if user_signed_in?  %>
             <b>Sign in as <%= current_user.email %>. Not you?
             <%= link_to "Sign out", destroy_user_session_path, :method => 'DELETE' %>
            <% else %>
             <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in ", new_user_session_path %>
            <% end %> </b> 
          </div>
        </div>
        <div class="header-main">
        <div id="menubar">
        <script type="text/javascript"> 
            var timeout    = 500;
            var closetimer = 0;
            var ddmenuitem = 0;
         
            function jsddm_open()
            {  jsddm_canceltimer();
               jsddm_close();
               ddmenuitem = $(this).find('ul').css('visibility', 'visible');}
         
            function jsddm_close()
            {  if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');}
         
            function jsddm_timer()
            {  closetimer = window.setTimeout(jsddm_close, timeout);}
         
            function jsddm_canceltimer()
            {  if(closetimer)
               {  window.clearTimeout(closetimer);
                  closetimer = null;}}
         
            $(document).ready(function()
            {  $('#menu-items > li').bind('mouseover', jsddm_open)
               $('#menu-items > li').bind('mouseout',  jsddm_timer)});
         
            document.onclick = jsddm_close;
        </script>
          <div >
            <ul id="menu-items">
              <li><%= link_to 'Home', root_path, :class => 'menu-item' %></li>
              <li><%= link_to 'Products', products_path, :class => 'menu-item' %></li>
              <li><%= link_to 'Categories', categories_path, :class => 'menu-item' %>
                <!--ul>                  
                  <li><%#= link_to 'Food products', category_path(1)%></li>
                  <li><%#= link_to 'Drink products', category_path(2)%></li>  
                </ul-->
              </li>
              <li><% if user_signed_in? %><%= link_to 'Account settings', edit_user_registration_path, :class => 'menu-item' %> <%end%></li>
            </ul>
          </div>
          
        </div>
        </div>
      </div>
      
      <div id="container" class="content">
        <div >
        <hr class="space">
          <script type="text/javascript"> 
            $(document).ready(function(){	
                $("#slider").easySlider({
                    auto: true,
                    continuous: true,
                    controlsShow: false,
                    lastShow: false,
                    pause: 4000
                });
            });
            </script>
            <!--div class="span-24" -->
              <div id="slider">          
                <ul>				
                    <li><a href="#products"><img src="/images/banner.bk.png"></a></li> 
                    <li><a href="#category"><img src="/images/wholesaler-banner.png"></a></li> 
                </ul>
              </div>
            <!--/div -->
        </hr>
      </div>
        <%= yield %>
      </div>
    </td>
    <td class="home_bg_right">
      <div id="right_module">
      </div>
    </td>
  </tr>
  <tr >
    <td>
    </td>
    <td id="footer" class="footer-main">
    <div >
      Copyright@2011 by Kevin
    </div>
    </td>
    <td>
    </td>
  </tr>
  </table>
</body>
</html>
